body{text-align: center;}
canvas{
    border: 2px solid black;
    background-image:url(images/grasses68.gif);
}
#talkBox{
    height: 20 px;
    color:brown;
    font-size: 26 px;
    font-weight:bold;
}